{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "semi": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "printWidth": 80
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
