<div
  id="sidebar"
  class="
    fixed
    z-40
    inset-0
    flex-none
    h-full
    bg-black bg-opacity-25
    w-full
    lg:bg-white lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-60
    xl:w-68
    lg:block
    hidden
    border-r border-black border-opacity-5
  "
>
  <div
    id="navWrapper"
    class="
      h-full
      overflow-y-auto
      scrolling-touch
      lg:h-auto lg:block lg:relative lg:sticky lg:bg-transparent
      overflow-hidden
      lg:top-18
      bg-white
      mr-24
      lg:mr-0
    "
  >
    <div class="hidden h-12 pointer-events-none absolute inset-x-0 z-10 bg-gradient-to-b from-white"></div>
    <nav id="nav" class="px-1 overflow-y-auto font-medium text-base sm:px-3 xl:px-5 lg:text-sm pb-10 lg:pb-14 h-screen">
      <div class="pt-3 pb-3 flex justify-center items-end text-sky-500">
        <svg class="w-9 h-9" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z"
          ></path>
        </svg>
        <span class="text-lg font-medium uppercase tracking-wide pointer-events-none"> Litepie </span>
      </div>
      <ul class="mt-6 lg:mt-8 border-t border-black border-opacity-5">
        <li class="mt-8">
          <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide text-sm lg:text-xs text-gray-900"> Applications </h5>
          <ul>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="/"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Dashboard</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Demos</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="mt-8">
          <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide text-sm lg:text-xs text-gray-900"> Components </h5>
          <ul>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">UI Elements</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Forms</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Tables</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Notifications</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="mt-8">
          <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide text-sm lg:text-xs text-gray-900"> Pages </h5>
          <ul>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Authentication</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Users</span>
              </a>
            </li>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Pages</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="mt-8">
          <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide text-sm lg:text-xs text-gray-900"> Library </h5>
          <ul>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Chart</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="mt-8">
          <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide text-sm lg:text-xs text-gray-900"> Docs </h5>
          <ul>
            <li>
              <a
                class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-700"
                href="#"
              >
                <span class="rounded-md absolute inset-0 bg-cyan-50 opacity-0"></span>
                <span class="relative">Documentation</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
